  <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive = 'active'><a  routerLink="/preguntas">Preguntas</a></li>   
        <li routerLinkActive = 'active'><a  routerLink="/respuestas">Respuestas</a></li>  
        <li routerLinkActive = 'active'><a  routerLink="/pistas">Pistas</a></li>
        <li routerLinkActive = 'active'><a  routerLink="/grupos">Grupos</a></li>
        <li routerLinkActive = 'active'><a  routerLink="/fases">Fases</a></li>
        <li routerLinkActive = 'active'><a  routerLink="/premios">Premios</a></li>
      </ul>
   
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive = 'active'><a  routerLink="/home">admin-tecnofest</a></li>
        <li routerLinkActive = 'active'><a  routerLink="/participantes">Invitados</a></li>
      </ul>
    </div>
  </nav>