<h1>Fases
  <button class="btn btn-success btn-circle pull-right" 
          (click) = 'add()'
          title="Add Fases">
    <i class="glyphicon glyphicon-plus"></i>
  </button>
</h1>

<div class="alert-danger">{{errorMessage}}</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" aria-describedby="basic-addon1">
    <span class="input-group-addon" id="basic-addon1">Search</span>
</div> 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>nombre</th>
            <th>descripcion</th>
            <th>url_web</th>
            <th>url_app</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fa of fases | search: searchText" [ngClass]="{'btn-primary': fa.id == currentId }">
            <td>{{fa.id}}</td>
            <td>{{fa.nombre}}</td>
            <td>{{fa.descripcion}}</td>
            <td>{{fa.url_web}}</td>
            <td>{{fa.url_app}}</td>
            <td style="width: 70px;">
                <i class="glyphicon glyphicon-edit pointer" (click)="edit(fa.id)" title="Edit"></i>
                <i class="glyphicon glyphicon-trash pointer" (click)="delete(fa.id)"  title="Delete"></i>
                <i class="glyphicon glyphicon-user pointer" title="Image"></i>
            </td>
        </tr>
    </tbody>
</table>